body{
  background-color: #c78202;
  font-family: Arial, Helvetica, sans-serif;
}

.conteudo{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.pedido{
  display: grid;
}
.pedido__pizza {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
}

.button {
  background-color: #530202; 
  font-family: arial;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
}
.button_pedido {
  background-color: #530202; 
  font-family: arial;
  color: white;
  padding: 15px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: #c78202;
  
}
footer {
  position: auto;
  left: auto;
  bottom: 0;
  width: 100%;
  background-color: #00367A;
  color: white;
  text-align: center;
}
.contato {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=e-mail], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=e-mail], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=textarea], select {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #530202;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.conteudo__contato{
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 30px;
background-color: #f2f2f2;
padding: 20px;
width: 30%;
}

.button4 {border-radius: 12px;}